{% extends 'header.html' %}
{% load nbfilters %}
{% block page_name %}
Tous les vétérinaires
{% endblock %}

{% block content %}
<table class="mui-table mui-table--bordered">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Ville</th>
            <th>Numéro de téléphone</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    	{% for vet in veto %}
    	<tr>
            <td><a href="/veto/display/{{ vet.id_vet }}">{{ vet.nom_vet }}</a></td>
            <td>{{ vet.ville }}</td>
            <td>{{ vet.numero_tel|telephoneFormat}}</td>
            <td>
                <a title="Mettre à jour le vetérinaire" href="/veto/update/{{vet.id_vet}}">
                	<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </a>
                <a title="Supprimer le vétérinaire" href="#"
                onclick='swal({
  title: "Êtes-vous sûr ?",
  text: "La suppression est irreversible",
  type: "warning",
  showCancelButton: true,
  confirmButtonColor: "#DD6B55",
  confirmButtonText: "Oui, je suis sûr",
  cancelButtonText: "Annuler",
  closeOnConfirm: false
},
function(isConfirm) {
    if(isConfirm) {
        location.href = "/veto/delete/{{ vet.id_vet }}";
    }
});'>
                	<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </a>
            </td>
        </tr>
		{% endfor %}
    </tbody>
</table>
{% endblock %}
