{% extends 'header.html' %}

{% block page_name %}
Fiche du véterinaire : {{veto.nom_vet}}
{% endblock %}

{% block content %}
    <div class="mui-row">
        <div class="mui-col-md-12">
            <div class="mui-textfield">
                {{ veto.nom_vet }}
                <label>Nom du vétérinaire :</label>
            </div>
            <div class="mui-textfield">
                {{ veto.address_1 }}
                <label>Addresse ligne 1 :</label>
            </div>
            <div class="mui-textfield">
                {{ veto.address_2 }}
                <label>Addresse ligne 2 :</label>
            </div>
            <div class="mui-textfield">
                {{ veto.ville }}
                <label>Ville :</label>
            </div>
            <div class="mui-textfield">
                {{ veto.address_2 }}
                <label>Numero de téléphone :</label>
            </div>
        </div>
    </div>

{% endblock %}

