{% extends 'header.html' %}

{% block page_name %}
Mise à jour d'un vétérinaire
{% endblock %}

{% block content %}
<form id="veto_form" action="{% url 'index' %}veto/update/{{id}}/" method="post">
	{% csrf_token %}
    <div class="mui-row">
        <div class="mui-col-md-12">
            <div class="mui-textfield">
                {{ form.nom_vet }}
                <label>Nom du vétérinaire :</label>
            </div>
            <div class="mui-textfield">
                {{ form.address_1 }}
                <label>Addresse ligne 1 :</label>
            </div>
            <div class="mui-textfield">
                {{ form.address_2 }}
                <label>Addresse ligne 2 :</label>
            </div>
            <div class="mui-textfield">
                {{ form.ville }}
                <label>Ville :</label>
            </div>
            <div class="mui-textfield">
                {{ form.numero_tel }}
                <label>Numero de téléphone :</label>
            </div>
        </div>
    </div>
    <button class="btn waves-effect waves-light submit-button" type="submit" name="action">Mettre à jour<i class="material-icons right"></i>
    </button>
</form>
{% endblock %}