<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email</title>
</head>
<body>
    <p>Les chats suivant doivent aller chez le vétérinaire pour la première fois :</p>
    <ul>
        {% for chat in chatPrimo %}
            <li>{{ chat.prenom }}</li>
        {% endfor %}
    </ul>
    <p>Les chats suivant doivent faire leur premier rappel :</p>
    <ul>
        {% for chat in chatPremierRappel %}
            <li>{{ chat.prenom }}</li>
        {% endfor %}
    </ul>
    <p>Les chats suivant doivent faire leur rappel :</p>
    <ul>
        {% for chat in chatRappel %}
            <li>{{ chat.prenom }}</li>
        {% endfor %}
    </ul>
    <p>Les chats suivant doivent se faire caster:</p>
    <ul>
        {% for chat in chatCastration %}
            <li>{{ chat.prenom }}</li>
        {% endfor %}
    </ul>
</body>
</html>