<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <p>
        <a href={% url 'chat-display-fa' %}>Accueil des chats</a>
    </p>
</head>
<body>

</body>
</html>