{% extends 'header.html' %}
{% load utilfilter %}
{% load nbfilters %}
{% block page_name %}
    {% if chats.0.adopte == False %}
        Tous les chats en FA : {{ quantity }}
    {% else %}
        Tous les chats adoptés : {{ quantity }}
    {% endif %}
{% endblock %}
{% block content %}
<table class="mui-table mui-table--bordered">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Numéro</th>
            <th>Dernier vaccin</th>
            <th>Naissance</th>
            <th>Age</th>
            <th>Arrivé le</th>
            <th>Actions</th>
            <th>Alertes</th>
        </tr>
    </thead>
    <tbody>
    	{% for chat in chats %}
    	<tr>
            <td><a href="/chat/display/{{chat.id_chat}}">{{chat.prenom}}</a></td>
            <td>{% if chat.identification == 2 %}
                {{ chat.n_puce|identifiantFormat }}
            {% elif chat.identification == 3 %}
                {{ chat.n_tatouage }}
            {% else %}
                {{ chat.id_chat }}
            {% endif %}</td>
            <td>{{ vaccins|get_value_from_dict:chat.prenom }}</td>
            <td>{{chat.date_naissance}}</td>
            <td>{{chat.date_naissance | timesince | truncatechars:8}}</td>
            <td>{{chat.entree_le}}</td>
            <td class="table-actions">
                <a title="Mettre à jour le chat" href="/chat/update/{{chat.id_chat}}">
                	<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </a>
                <a title="Supprimer le chat" href="#"
                onclick='swal({
  title: "Êtes-vous sûr ?",
  text: "La suppression est irreversible",
  type: "warning",
  showCancelButton: true,
  confirmButtonColor: "#DD6B55",
  confirmButtonText: "Oui, je suis sûr",
  cancelButtonText: "Annuler",
  closeOnConfirm: false,
},
function(isConfirm) {
    if(isConfirm) {
        location.href = "/chat/delete/{{chat.id_chat}}";
    }
});'>
                	<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </a>
                {% if chat.adopte == False %}
                    <a title="Adopter le chat" href="/chat/adopte/{{ chat.id_chat }}">
                	<span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                </a>
                {% endif %}
            </td>
            <td>
                <!--<span class="glyphicon glyphicon-bell red" aria-hidden="true"></span>-->
            </td>
        </tr>
		{% endfor %}
    </tbody>
</table>
{% endblock %}