{% extends 'header.html' %}
{% load nbfilters %}

{% block page_name %}
Fiche de {{chat.prenom}}
    <a class="action-span" href="/chat/update/{{ chat.id_chat }}">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
    </a>
    <a class="action-span" href="#" onclick='swal({
  title: "Êtes-vous sûr ?",
  text: "La suppression est irreversible",
  type: "warning",
  showCancelButton: true,
  confirmButtonColor: "#DD6B55",
  confirmButtonText: "Oui, je suis sûr",
  cancelButtonText: "Annuler",
  closeOnConfirm: false
},
function(isConfirm) {
    if(isConfirm) {
        location.href = "/chat/delete/{{ chat.id_chat }}";
    }
});'>
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </a>
{% endblock %}

{% block content %}

    <div class="mui-row">
        <div class="mui-col-md-3">
            <div class="mui-panel">
                <div class="picture"></div>
            </div>
        </div>
        <div class="mui-col-md-4">
            <div class="mui-panel">
                <h1>Identification du chat</h1>
                <p>
                    <br>Prénom : {{ chat.prenom }}
                    <br>
                    {% if chat.identification ==  2 %}
                        Puce : {{ chat.n_puce | identifiantFormat  }}
                    {% elif chat.identification ==  3 %}
                        Tatouage : {{ chat.n_tatouage }}
                    {% else %}
                        Numéro : {{ chat.id_chat }}
                    {% endif %}
                    <br>{% if chat.sexe %}Mâle{% else %}Femelle{% endif %}
                    <br>Né(e) le: {{chat.date_naissance}}
                    <br>Entré(e) le: {{chat.entree_le}}
                    <br>{% if chat.sterilise %}
                        Stérilisé  <span class="glyphicon glyphicon-scissors"></span> le {{ chat.date_steri }}
                        {% else %}
                        Entier  <span class="glyphicon glyphicon-asterisk"></span>
                        {% endif %}

                    <br>Test VIH ? {% if chat.test_vih == 1 %}
                        <span class="red">POSITIF</span> fait le {{ chat.date_test_vih }}
                        {% elif chat.test_vih == 2 %}
                        Négatif fait le {{ chat.date_test_vih }}
                        {% else %}
                        Pas encore fait
                        {% endif %}
                </p>
            </div>
        </div>
        <div class="mui-col-md-5">
            <div class="mui-panel">
                <h1>Gestion croc blanc</h1>
                <p>
                    <br>{% if chat.adopte %}Adopté{% else %}En FA{% endif %}
                </p>
                <p>
                    Nom FA: {{ chat.nom_fa }}
                </p>
                <p>
                    Nom adoptant: {{ chat.nom_adoptant }}
                </p>
                <p>
                    Commentaire: </br> {{ chat.commentaire }}
                </p>
            </div>
        </div>
    </div>
    <div class="mui-row">
        <div class="mui-col-md-6 small-padding">
            <div class="mui-panel">
                <h1>Récapitulatif des vaccins</h1>
                <table class="mui-table mui-table--bordered">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Véterinaire</th>
                        <th>Type vaccin</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for vaccin in vaccins %}
                        <tr>
                            <td>{{ vaccin.date_action }}</td>
                            <td>{{ vaccin.veterinaire.nom_vet }}</td>
                            <td>{% if vaccin.type_vaccin == 0 %} Primo-vacination
                            {% else %} Rappel n° {{ vaccin.type_vaccin }} {% endif %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="mui-col-md-6 small-padding">
            <div class="mui-panel">
                <h1>Récapitulatif des soins</h1>
                <table class="mui-table mui-table--bordered">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Véterinaire</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for soin in soins %}
                        <tr>
                            <td>{{ soin.date_action }}</td>
                            <td>{{ soin.veterinaire.nom_vet }}</td>
                            <td>{{ soin.description }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

