{% extends 'header.html' %}

{% block page_name %}
Edition d'un chat
{% endblock %}

{% block content %}
<form id="chat_form" action="{% url 'index' %}chat/update/{{id}}/" method="post">
    {% csrf_token %}
    <div class="mui-row">
        <div class="mui-col-md-6">
            <h2>Identification du chat</h2>
            <div class="mui-textfield">
                {{ form.prenom }}
                <label>Prenom du chat :</label>
            </div>
            <div class="mui-select">
                {{ form.identification }}
                <label>Méthode d'identification</label>
            </div>
            <div class="mui-textfield" id="auth_number">
                {{ form.number }}
                <label>Numéro d'identification :</label>
            </div>
            <div class="mui-select">
                {{ form.sexe }}
            </div>
            <div class="mui-checkbox">
                {{ form.sterilise }}
                <label>Sterilisation ?</label>
            </div>
            <div class="mui-textfield" id="date_steri">
                {{ form.date_steri }}
                <label>Date de la stérilisation</label>
            </div>
            <div class="mui-select">
                {{ form.test_vih }}
                <label>Test VIH</label>
            </div>
            <div class="mui-textfield" id="date_test_vih">
                {{ form.date_test_vih }}
                <label>Date du test vih</label>
            </div>
            <div class="mui-textfield mui-textfield--float-left">
                {{ form.date_naissance }}
                <label>Date de naissance :</label>
            </div>
        </div>
        <div class="mui-col-md-6">
            <h2>Info croc blanc</h2>
            <div class="mui-textfield">
                {{ form.nom_fa }}
                <label>Info FA</label>
            </div>
            <div class="mui-textfield mui-textfield--float-left">
                {{ form.entree_le }}
                <label>Date de recueil par l'association</label>
            </div>
            <div class="mui-checkbox">
                {{ form.adopte }}
                <label>Adopté ?</label>
            </div>
            <div class="mui-textfield">
                {{ form.nom_adoptant }}
                <label>Nom adoptant</label>
            </div>
            <div class="mui-textfield">
                <textarea rows="5" class="mui--is-dirty mui--is-empty"
                          cols="40" id="id_commentaire" name="commentaire"></textarea>
                <label>Commentaires</label>
            </div>
        </div>
    </div>
    <div class="mui-col-md-6">
        <div class="mui-panel">
        <h1>Vaccins</h1>
        <div class="row" id="vaccin_-1"></div>
        {% for vaccin in vaccins %}
            <div class="row" id="vaccin_{{ vaccin.type_vaccin }}">
                <input type="text" name="vaccin_{{ vaccin.type_vaccin }}" value="1" hidden/>
                {% if vaccin.type_vaccin == 0 %}
                    <p>Primo vaccination</p>
                {% else %}
                    <p>Rappel n°{{ vaccin.type_vaccin }}</p>
                {% endif %}
                <div class="col-sm-6">
                    <div class="form-group">
                        <p>Date:
                            <input type="text" name="date_vaccin_{{ vaccin.type_vaccin }}"
                               id="date_vaccin_{{ vaccin.type_vaccin }}"
                               required value="{{ vaccin.date_action }}"/>
                            <select disabled><option value="{{ vaccin.veterinaire.id_vet }}">{{ vaccin.veterinaire.nom_vet }}</option></select>
                        <script>
                            $(function () {
                                $('#date_rappel{{vaccin.type_vaccin}}').datepicker({dateFormat: 'dd/mm/yy'});
                            });
                        </script>
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
        <!-- Qd on clique ici, ajouter 3ème rappel, 4ème… -->
        <button type="button" id="add_vaccin" class="btn btn-secondary">Ajouter un rappel</button>
        </div>
    </div>
    <div class="mui-col-md-6">
        <div class="mui-panel">
        <h1>Soins</h1>
        <div class="row" id="soin_-1"></div>
        {% for soin in soins %}
            <div class="row" id="soin_{{ soin.num_soin }}">
                <input type="text" name="soin_{{ soin.num_soin }}" value="1" hidden/>
                Soin n°{{ soin.num_soin | add:"1"}}:
                <div class='col-sm-6'>
                    <div class="form-group">
                        <p>Date:
                            <input type="text" name="date_soin_{{ soin.num_soin }}"
                                   id="date_soin_{{ soin.num_soin }}"
                                   required value="{{ soin.date_action }}"/>
                            <script>
                                $(function () {
                                    $('#date_soin_{{soin.num_soin}}').datepicker({dateFormat: 'dd/mm/yy'});
                                });
                            </script>
                            <select disabled><option value="{{ soin.veterinaire.id_vet }}">{{ soin.veterinaire.nom_vet }}</option></select>
                            <input type="text" placeholder="Description du soin" name="desc_soin_{{ soin.num_soin }}"
                                   id="desc_soin_{{ soin.num_soin }}" value="{{ soin.description }}" />
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
        <!-- Qd on clique ici, ajouter 3ème rappel, 4ème… -->
        <button type="button" id="add_soin" class="btn btn-secondary">Ajouter un soin</button>
        </div>
    </div>

    <button class="btn waves-effect waves-light submit-button" type="submit" name="action">Sauvegarder</button>
</form>
<script>
    var i = {% if vaccins|length > 0 %}{{vaccins.last.type_vaccin | add:"1"}}{% else %}0{% endif %};
    var options = "" {% for vet in veto  %} + '<option value="{{ vet.id_vet }}">{{ vet.nom_vet }}</option>'{% endfor %};
    var k = {% if soins|length > 0 %}{{soins.last.num_soin | add:"1"}}{% else %}0{% endif %};

    $('#add_vaccin').click(function() {
        var html = '';
        html += '<div class="row" id="vaccin_'+ i +'">';
        html += (i == 0) ? "<p>Primo vaccination :</p>":"<p>Rappel n°"+ i +" :</p>";
        html += '<div class="col-sm-6">';
        html += '<div class="form-group">';
        html += '<p>Date: ';
        html += '<input type="text" name="date_vaccin_' + i + '" id="date_vaccin_' + i + '" required>';
        html += '<select class="custom-select" name="vaccin_veto_name_' + i + '">' + options + '</select>';
        html += '<input type="button" id="del_vaccin_' + i + '" value="Annuler le rappel"/>';
        html += '</p>';
        html += '</div>';
        html += '</div>';
        html += '</div>';

        var j = i - 1;
        if( j >= 0){
          $('#del_vaccin_' + j).prop("disabled",true);
        }

        $('#vaccin_'+j).after(html);
        $(function() {$('#date_vaccin_' + i).datepicker({dateFormat: 'dd/mm/yy'});});
        $('#vaccin_' + i).on('click','#del_vaccin_' + i,function() {
            $(this).closest("div.row").remove();
            i--;
        });
        i++;
    });
    $('#add_soin').click(function() {
        var html = '';
        html += '<div class="row" id="soin_' + k + '">';
        html += 'Soin n°' + (k+1) + ':';
        html += '<div class="col-sm-6">';
        html += '<div class="form-group">';
        html += '<p>Date:';
        html += '<input type="text" name="date_soin_' + k + '"';
        html += 'id="date_soin_' + k + '" required />';
        html += '<select class="custom-select" name="soin_veto_name_' + k + '">' + options + '</select>';
        html += '<input type="text" placeholder="Description du soin" name="desc_soin_' + k + '"';
        html += 'id="desc_soin_' + k + '" />';
        html += '<input type="button" id="del_soin_' + k + '" value="Annuler le soin"/>';
        html += '</p>';
        html += '</div>';
        html += '</div>';
        html += '</div>';

        var j = k - 1;
        if( j >= 0){
            $('#del_soin_' + j).prop("disabled",true);
        }
        $('#soin_'+j).after(html);
        $(function() {$('#date_soin_' + k).datepicker({dateFormat: 'dd/mm/yy'});});
        $('#soin_' + k).on('click','#del_soin_' + k,function() {
            $(this).closest("div.row").remove();
            k--;
        });
        k++;
    });
    $(function() {
        $( "#id_sterilise").click(function() {
            if ($(this).is(':checked')) {
                $("#date_steri").show();
                $("#id_date_steri").prop('required', true);
            } else {
                $("#date_steri").hide();
                $("#id_date_steri").prop('required', false);
            }
        });
        $( "#id_test_vih").change(function() {
            if ($(this).find('option:selected').val() != 0) {
                $("#date_test_vih").show();
                $("#id_date_test_vih").prop('required', true);
            } else {
                $("#date_test_vih").hide();
                $("#id_date_test_vih").prop('required', false);
            }
        });
    });
    $(function() {
        $( "#id_date_naissance" ).datepicker({dateFormat: 'dd/mm/yy'});
    });
    $(function() {
        $( "#id_entree_le" ).datepicker({dateFormat: 'dd/mm/yy'});
    });
    $(function() {
        $( "#id_date_steri" ).datepicker({dateFormat: 'dd/mm/yy'});
    });
    $(function() {
        $( "#id_date_test_vih" ).datepicker({dateFormat: 'dd/mm/yy'});
    });

    /* Display the fields if vih and castration are done */
    if ($("#id_sterilise").is(':checked')) {
        $("#date_steri").show();
        $("#id_date_steri").prop('required', true);
    } else {
        $("#date_steri").hide();
        $("#id_date_steri").prop('required', false);
    }
    if ($("#id_test_vih").find('option:selected').val() != 0) {
        $("#date_test_vih").show();
        $("#id_date_test_vih").prop('required', true);
    } else {
        $("#date_test_vih").hide();
        $("#id_date_test_vih").prop('required', false);
    }

    $("#id_identification").change(function(){
        if ($(this).find('option:selected').val() != 1) {
            $("#auth_number").show();
            $("#id_number").prop('required', true);
        } else {
            $("#auth_number").hide();
            $("#id_number").prop('required', false);
        }
    });

    if($("#id_identification").find('option:selected').val() == 1) {
        $("#auth_number").hide();
        $("#id_number").prop('required', false);
    } else {
        $("#id_number").prop('required', true);
    }

</script>
{% endblock %}
