<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>Gestion des soins</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.muicss.com/mui-latest/css/mui.min.css" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
        <script src="https://cdn.muicss.com/mui-latest/js/mui.min.js"></script>
        <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
        <script src="{% static 'script.js' %}"></script>
        <script src="{% static 'sweet-alert/sweetalert.min.js' %}"></script>

        <!-- Optional theme -->
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="{% static 'sweet-alert/sweetalert.css' %}">
        <!-- Latest compiled and minified JavaScript -->
        <title>Gestion des soins vétérinaires | Croc Blanc</title>
        <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <meta charset="UTF-8">
    </head>

    <body>
        {% include "menu.html" %}
        <header id="header">
          <div class="mui-appbar mui--appbar-line-height">
            <div class="mui-container-fluid">
              <a class="sidedrawer-toggle mui--visible-xs-inline-block mui--visible-sm-inline-block js-show-sidedrawer">☰</a>
              <a class="sidedrawer-toggle mui--hidden-xs mui--hidden-sm js-hide-sidedrawer">☰</a>
              <span class="mui--text-title mui--visible-xs-inline-block mui--visible-sm-inline-block">Brand.io</span>
            </div>
          </div>
        </header>
        <div id="content-wrapper">
            <div class="mui--appbar-height"></div>
            <div class="mui-container-fluid">
                <div class="mui-panel">
                    <h1>{% block page_name%}{% endblock %}</h1>
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    <footer id="footer">
      <div class="mui-container-fluid">
        <br>
        Made with ♥ by <a href="https://www.muicss.com">MUI</a>
      </div>
    </footer>
  </body>
</html>


