        <div id="sidedrawer" class="mui--no-user-select">
          <div id="sidedrawer-brand" class="mui--appbar-line-height">Croc Blanc</div>
          <div class="mui-divider"></div>
          <ul>
            <li>
              <strong>Chats</strong>
              <ul>
                <li><a href="/chat/create/">Ajouter</a></li>
                <li><a href="/chat/display/fa">Chats en FA</a></li>
                <li><a href="/chat/display/adopte">Chats adoptés</a></li>
              </ul>
            </li>
            <li>
              <strong>Vétérinaire</strong>
              <ul>
                <li><a href="/veto/create/">Ajouter</a></li>
                <li><a href="/veto/display/">Afficher</a></li>
              </ul>
            </li>
            <li>
                <strong>Gestion</strong>
                <ul>
                    <li><a href="/disconnect">Se déconnecter</a></li>
                </ul>
            </li>
          </ul>
        </div>